html, body, main, .half{
	height:100%;
	box-sizing: border-box;
}

body{
	margin: 0;
}

nav{
	height: 100px;
	width:100%;
	display: flex;
}

.navHalf{
	width: 50%;
	border: 1px solid green;
}

main{
	display: flex;
}

.half{
	width: 50%;
	border: 1px solid red;
	height: 100%;
}

.gridContainer {
	display: grid;
	padding-top: 50px;
	grid-template-columns: 450px 450px;
	grid-template-rows: 450px 450px; 
	column-gap: 70px;
	row-gap: 70px;
	justify-content: center;
}

.gridItem{
	background-color: red;
	display:flex;
	align-items: center;
	justify-content: center;
}

.gridItem img{
	max-width:100%;
	max-height:100%;

}

#bigImg{
	/*
	width:100%;
	max-height:100%;
	overflow-y:hidden;*/
	margin:auto;
	border: 3px solid black;
	max-width:80%;
	max-height:80%;
}

.mainTitle{
	text-align: center;
	font-size: 50px;
	margin: 15px 0 ;
}

.mainNav{
	display: flex;
	align-items: center;
	justify-content: center;
	list-style-type: none;
}

.mainNav li{
	margin: 0px 15px;
	font-size: 40px;
}